<div class="flex-box column flex-box-centered">
  <div class="flex-box flex-box-centered">
    <span class="font-bold box-view-title">Choose a trigger</span>
  </div>

  <div class="box-view flex-box flex-wrap service-cards flex-box-centered">
    <div class="flex-box column service-card card-facebook">
      <span class="service-card-action font-bold s-22">You are tagged in a photo</span>
      <span class="service-card-action-description font-bold s-20">Fires every time you are tagged in a photo</span>
    </div>


  </div>

</div>
