#mainBox {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#logoBox {
  height: 100%;
  flex-basis: 70%;
  background-color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px hsla(0,0%,11%, 0.16);
}

#logoBox img {
  margin: auto;
}

#sonarLogo {
  vertical-align: center;
  width: 650px;
}

#inputBox {
  flex-basis: 30%;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  height: 50%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 6px hsla(0,0%,11%, 0.16);
  flex-direction: column;
}

#header {
  width: 100%;
  padding-top: 15px;
  display: inline;
  font-family: Roboto-Black, sans-serif;
  font-size: 26px;
}

#header div > span {
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  cursor: pointer;
}

.selected-div {
  background-color: hsl(0,0%,11%);
  height: 4px;
  width: 100%;
  margin-top: 10px;
}

.unselected-div {
  background-color: hsla(0,0%,11%,0.5);
  display: none;
}

.unselected-label {
  color: hsla(0,0%,11%,0.5);
}

.child-box {
  margin: auto;
  width: 70%;
}

.child-box > input {
  margin-top: 10px;
  border-color: hsl(0,0%,11%);
  height: 40px;
  border-width: 3px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
}

.child-box > input::placeholder {
  font-family: Roboto-Medium, sans-serif;
}

.child-box > input:focus {
  outline-style: none;
}

.login-button {
  margin-top: 40px;
  background-color: #FFA15D;
  outline-style: none;
  border-style: none;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 6px hsla(0,0%,11%,0.16);
  color: white;
  cursor: pointer;
  transition: all 0.15s;
}

.login-button:hover {
  transform: scale(0.95);
  transition: all 0.15s;
}

.login-button:active {
  background-color: #DB8546;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: hsla(0,0%,11%,0.3);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

/* ######################### */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


