<div class="content">
  <div class="flex-box main">
    <div class="font-bold s-20">Connected services</div>

    <div class="connectedServices">
      <div class="connectedService">
        <div class="cs-header s-18 font-bold facebook">
          Facebook
        </div>
        <div class="cs-body s-16 font-medium">
          <div class="statusRow"><span class="lightGreyStatus">Connected as </span><span>David Zakrzewski</span></div>
          <div class="statusRow"><span class="lightGreyStatus">URL: </span><span>https://plus.google.com/111231976387317710994</span></div>
          <div class="statusRow"><span class="lightGreyStatus">Status: </span><span class="status">Active</span></div>
          <div class="statusRow redStatus"><span>Disconnect from </span><span>Facebook</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
