<div class="content">
    <div class="flex-box main row">
        <div class="flex-box column col-20" id="connected-to-services">
            <div class="font-bold s-20">Connect to services</div>
            <div class="connectServices" *ngFor="let connector of FilterConnectors(false)">
                <div class="{{ connector.class }} connectorLoginLink" (click)="connector.login()">
                    <span class="link"><a>Connect to {{ connector.name }}</a></span>
                </div>
            </div>
            <div *ngIf="FilterConnectors(false).length === 0" class="connectServices noservices connectorLoginLink">
                <span class="link"><a>No services to connect</a></span>
            </div>
        </div>
        <div class="flex-box column col-80" id="connected-services">
            <div class="font-bold s-20">Connected services</div>
            <div class="connectedServices flex-box wrapped">
                <div class="connectedService" *ngFor="let connector of FilterConnectors(true)">
                    <div class="cs-header s-18 font-bold {{ connector.class }}">
                        {{ connector.name }}
                    </div>
                    <div class="flex-box column cs-body s-16 font-medium">
                        <div class="statusRow" *ngIf="connector.user.userImage">
                            <img src="{{ connector.user.userImage }}" alt="profile image" width="50px" height="50px">
                        </div>
                        <div class="statusRow" *ngIf="AnnexCards(connector.class)"><span class="lightGreyStatus">Connected as </span><span class="capitalize">{{ connector.user.userName }}</span></div>
                        <div class="statusRow" *ngIf="connector.class === 'meteo'">
                            <div class="flex-box row space-between">
                                <div class="flex-box column center text-centered" *ngFor="let day of connector.days">
                                    <div class="weatherStamp code-{{day.weather}}"></div>
                                    <div class="font-light">{{SetDayOfWeek(day)}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="statusRow redStatus" (click)="connector.logout()"><span>Disconnect from </span><span>{{ connector.name }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="connector.getConnector('intra').showModal">
    <div class="modal-content">
        <div class="modal-header intra space-between">
            <div>Connect to Epitech</div>
            <div class="modal-close"(click)="OnCloseEpitechModal()">Close</div>
        </div>
        <div class="modal-body flex-box column child-box">
            <div class="font-black s-22">Autologin token</div>
            <input type="text" placeholder="Autologin" [(ngModel)]="intraToken">
            <button class="font-black s-24 login-button" (click)="OnConnectEpitechModal()">Connect</button>
        </div>
    </div>
</div>

<div class="modal" *ngIf="connector.getConnector('meteo').showModal">
    <div class="modal-content">
        <div class="modal-header meteo space-between">
            <div>Connect to Weather</div>
            <div class="modal-close"(click)="OnCloseWeatherModal()">Close</div>
        </div>
        <div class="modal-body flex-box column child-box">
            <div class="font-black s-22">City</div>
            <input type="text" placeholder="City" [(ngModel)]="city">

            <div class="font-black s-22" style="margin-top: 20px">Insee</div>
            <input type="text" placeholder="INSEE" [(ngModel)]="insee">
            <button class="font-black s-24 login-button" (click)="OnConnectWeatherModal()">Connect</button>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="loading">
    <div class="lds-dual-ring"></div>
</div>
