<div class="flex-box box-view wrapped">
    <div class="col-20">
        <div class="flex-box row flex-box-centered">

            <div class="flex-box column">
                <input type="text" placeholder="Search" class="search" name="search" [(ngModel)]="searchText">

                <div class="flex-box services column">
                    <button (click)="OnAllServiceClicked()" style="background-color: lightgray">All</button>
                    <button *ngFor="let service of Services" class="{{ service.class }}" (click)="OnServiceClicked(service.class)">{{ service.name }}</button>
                </div>
            </div>

            <div class="separator"></div>
        </div>
    </div>
    <div class="col-80" style="margin-left: 30px">
        <div class="flex-box column flex-box-centered">
            <div class="flex-box flex-box-centered">
                <span class="font-bold box-view-title">{{ Title }}</span>
            </div>

            <div class="box-view flex-box flex-wrap service-cards flex-box-centered">
                <div class="flex-box column service-card {{card.class}}" *ngFor="let card of filterCards(cards)" (click)="onEnable(card)" >
                    <span class="service-card-action font-bold s-22">{{ card.title }}</span>
                    <span class="service-card-action-description font-bold s-20">{{ card.description }}</span>
                </div>
            </div>

        </div>
    </div>
</div>
