<div class="flex-box row flex-box-centered">

  <div class="flex-box column">
    <input type="text" placeholder="Search" class="search">

    <div class="flex-box services column">
      <button class="facebook">Facebook</button>
      <button class="twitter">Twitter</button>
      <button class="facebook">Facebook</button>
      <button class="twitter">Twitter</button>
      <button class="facebook">Facebook</button>
      <button class="twitter">Twitter</button>
      <button class="facebook">Facebook</button>
    </div>
  </div>

  <div class="separator"></div>
</div>
