/* You can add global styles to this file, and also import other style files */
html {
    font-family: Roboto-Medium, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
}

html, body {
}

body {
    color: hsl(0, 0%, 11%);
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.content {
    margin-top: 90px;
    padding: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.scroll {
    overflow-y: scroll;
}

/* Flex */
.flex-box {
    display: flex;
}

.flex-box.column {
    flex-direction: column;
}

.flex-box.row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inline-flex-box {
    display: inline-flex;
}

.flex-box-centered {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.row {
    flex-direction: row !important;
}

.column {
    flex-direction: column;
}

/* End Flex */

/* Font */
.font-light {
    font-family: Roboto-Light, sans-serif;
}

.font-medium {
    font-family: Roboto-Medium, sans-serif;
}

.font-bold {
    font-family: Roboto-Bold, sans-serif;
}

.font-black {
    font-family: Roboto-Black, sans-serif;
}

.s-16 {
    font-size: 16px;
}

.s-18 {
    font-size: 18px;
}

.s-20 {
    font-size: 20px;
}

.s-22 {
    font-size: 22px;
}

.s-24 {
    font-size: 24px;
}

.s-26 {
    font-size: 26px;
}

/* End Font */

/* Boxing */
.full {
    height: 100%;
}

.main {
    max-width: 1200px;
    min-width: 1140px;
    min-height: 400px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 6px hsla(0, 0%, 11%, 0.16);
    border-radius: 3px;
    flex-direction: column;
    padding: 20px;
}

.main-head {
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* icons */
.add-icon {
    background-image: url("assets/img/add.svg");
    background-repeat: no-repeat;
}

/* Styling */
.next {
    color: hsla(0, 0%, 11%, 0.3);
}

/* Panels */
.box-view {
    padding: 40px;
}

.box-view-title {
    font-size: 24px;
}

.col-20 {
    width: 20%;
}

.col-80 {
    width: 80%;
}

/* search */
.search {
    width: 190px;
    background-image: url("assets/img/search-icon.svg");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 20px;
    padding: 10px 50px;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsla(0, 0%, 11%, 0.5);
    font-size: 16px;
    color: hsla(0, 0%, 11%, 0.5);
    font-family: Roboto-Bold, sans-serif;
    margin: auto;
}

.search::placeholder {
    font-size: 16px;
    color: hsla(0, 0%, 11%, 0.5);
    font-family: Roboto-Bold, sans-serif;
}

.services {
    width: 200px;
    margin-top: 50px;
    height: 100%;
}


.services button {
    color: white;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 6px hsla(0, 0%, 11%, 0.16);
    font-family: Roboto-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.services button:hover {
    transform: scale(1.08, 1.08);
}

.facebook {
    background-color: #3B5998;
    background-image: url("assets/img/facebook-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.epitech {
    background-color: #00579C;
    background-image: url("assets/img/intra-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.office365 {
    background-color: #094AB2;
    background-image: url("assets/img/onedrive-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.outlook {
    background-color: #0078d7;
    background-image: url("assets/img/outlook-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.twitter {
    background-color: #55ACEE;
    background-image: url("assets/img/twitter-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.oneDrive {
    background-color: #094AB2;
    background-image: url("assets/img/onedrive-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.calendar {
    background-color: #0078d7;
    background-image: url("assets/img/calendar-logo.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: center;
    background-position-x: 15px;
}

.separator {
    height: 300px;
    margin-left: 25px;
    width: 2px;
    background-color: hsla(0, 0%, 11%, 0.1);
}

.service-cards {
    justify-content: start;
    padding: 20px;
    margin-top: 50px;
    overflow-y: scroll;
    height: 500px;
    box-shadow: 0 0 10px hsla(0, 0%, 11%, 0.05) inset;
    min-width: 850px;
    border-radius: 5px;
}

.service-card {
    margin-bottom: 50px;
    flex: 0 1 250px;
    box-shadow: 0 0 6px hsla(0, 0%, 11%, 0.16);
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    padding: 90px 20px;
    justify-content: flex-start;
    color: white;
    margin-right: 20px;
    width: 100px;
    height: 300px;
}

.service-card:hover {
    transform: scale(1.03, 1.03);
}

/*.service-card::after {*/
/*content: "";*/
/*flex: auto;*/
/*}*/

.service-card.card-facebook {
    background-color: #3B5998;
    background-image: url("assets/img/facebook-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 20px;
    background-position-x: 20px;
}

.service-card.card-twitter {
    background-color: #55ACEE;
    background-image: url("assets/img/twitter-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 20px;
    background-position-x: 20px;
}

.service-card.card-oneDrive {
    background-color: #094AB2;
    background-image: url("assets/img/onedrive-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 20px;
    background-position-x: 20px;
}

.service-card.card-outlook {
    background-color: #0078d7;
    background-image: url("assets/img/outlook-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 20px;
    background-position-x: 20px;
}

.service-card.card-calendar {
    background-color: #0078d7;
    background-image: url("assets/img/calendar-logo.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 20px;
    background-position-x: 20px;
}

.service-card-action {
    display: block;
}

.service-card-action-description {
    margin-top: 30px;
    opacity: 0.7;
    display: block;
}

.wrapped {
    flex-direction: row;
}

@media screen and (max-width: 1040px) {
    .wrapped {
        flex-direction: column;
    }
}

.capitalize {
    text-transform: capitalize;
}

.epitech {
    background-color: #0062ae;
}
